@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);body{font-family:'Open Sans';background:#000;color:#eee !important}.reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,.reveal h6{margin:0 0 20px 0;font-family:"Open Sans", Impact, sans-serif;font-weight:normal;line-height:1.2;letter-spacing:-0.03em;text-transform:none;text-shadow:none;word-wrap:break-word}.reveal h1{font-size:3.77em;padding:2vh}.reveal h2{font-size:2.11em}.reveal h3{font-size:1.55em}.reveal h4{font-size:1em}.reveal h1{text-shadow:none}.reveal h6{font-size:10em}img{height:30vh;border-radius:50%}strong{font-weight:700 !important}img[alt*="lock"],img[alt*="bpass"]{border-radius:0}img[alt*="lock"]{filter:invert(1)}
/*# sourceMappingURL=bpass.css.map */
